PORT=6333
QDRANT__STORAGE__STORAGE_PATH=/qdrant/storage
QDRANT__STORAGE__SNAPSHOT_PATH=/qdrant/storage/snapshots
QDRANT__SERVICE__HOST=0.0.0.0
QDRANT__SERVICE__HTTP_PORT=6333
QDRANT__SERVICE__GRPC_PORT=6334
QDRANT__LOG_LEVEL=INFO
